.theme1 {
    background-color: #283C4F;
}

.theme2 {
    background-color: #2B253A;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.box {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD13D;
}

.icon {
    font-size: 40px;
    color: #ffffff;
}

.scoreSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.resetButton {
    background-color: #944BE1;
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
}

.resetButton:hover {
    background-color: #FF7BCE;
}

.crossScore {
    color: #FF3B7D;
    text-align: center;
}

.circleScore {
    color: #00C9FF;
    text-align: center;
}

.circleIcon {
    color: #FF3B7D;
    font-weight: 800;
}

.crossIcon {
    color: #00C9FF;
}

.penIcon {
    color: #00C1B2;
}

.reloadButton {
    background-color: #944BE1;
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    /* margin-top: 20px; */
}

.reloadButton:hover {
    background-color: #FF7BCE;

}

.themeButton {
    background-color: #944BE1;
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    /* margin-top: 20px; */
}

.themeButton:hover {
    background-color: #FF7BCE;
}